<header>
  <div class="bg-white py-4 mx-auto max-w-[1350px] px-4 sm:px-6 lg:px-8 flex justify-center md:justify-start">
    <div class="w-fit">
      <a href="/assessments"><%= svg_tag "proctor", class: "h-12 w-auto" %></a>
    </div>
  </div>
</header>

<main class="border-t border-zinc-200 bg-zinc-50 pt-10 pb-16">
  <div class="mx-auto max-w-[1350px] px-4 sm:px-6 lg:px-8">
    <div class="border-2 shadow-md rounded-xl p-0.5">
      <div data-controller="survey-creator" data-survey-creator-target="surveyCreator" class="h-screen"></div>
    </div>
  </div>
</main>
