<div class="flex items-center justify-center min-h-screen bg-zinc-50 px-4 sm:px-6">
  <div class="w-full max-w-xl p-12 bg-white rounded-xl border border-gray-200">
    <%= render SignInFormComponent.new(resource: resource, resource_name: resource_name, user_type: :candidate) %>
  </div>
</div>
