<div class="flex justify-between gap-x-4">
  <div class="text-gray-800 text-sm font-medium flex items-center gap-x-2">
    <%= helpers.svg_tag icon, class: "size-4" %>
    <%= label %>
  </div>
  <div class="<%= value_class %>"><%= value %></div>
</div>
