<div data-controller="slider" id="slide-1">
  <header class="border-b border-gray-300">
    <div class="bg-white py-5 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex justify-between items-center gap-x-4 gap-y-5 flex-wrap">
      <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Milk Road</h1>
      <div class="space-y-2 max-sm:order-3">
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M9 3.54651V1.54651H15V3.54651H9ZM11 14.5465H13V8.54651H11V14.5465ZM12 22.5465C10.7667 22.5465 9.60417 22.309 8.5125 21.834C7.42083 21.359 6.46667 20.7132 5.65 19.8965C4.83333 19.0798 4.1875 18.1257 3.7125 17.034C3.2375 15.9423 3 14.7798 3 13.5465C3 12.3132 3.2375 11.1507 3.7125 10.059C4.1875 8.96734 4.83333 8.01318 5.65 7.19651C6.46667 6.37984 7.42083 5.73401 8.5125 5.25901C9.60417 4.78401 10.7667 4.54651 12 4.54651C13.0333 4.54651 14.025 4.71318 14.975 5.04651C15.925 5.37984 16.8167 5.86318 17.65 6.49651L19.05 5.09651L20.45 6.49651L19.05 7.89651C19.6833 8.72984 20.1667 9.62151 20.5 10.5715C20.8333 11.5215 21 12.5132 21 13.5465C21 14.7798 20.7625 15.9423 20.2875 17.034C19.8125 18.1257 19.1667 19.0798 18.35 19.8965C17.5333 20.7132 16.5792 21.359 15.4875 21.834C14.3958 22.309 13.2333 22.5465 12 22.5465ZM12 20.5465C13.9333 20.5465 15.5833 19.8632 16.95 18.4965C18.3167 17.1298 19 15.4798 19 13.5465C19 11.6132 18.3167 9.96318 16.95 8.59651C15.5833 7.22984 13.9333 6.54651 12 6.54651C10.0667 6.54651 8.41667 7.22984 7.05 8.59651C5.68333 9.96318 5 11.6132 5 13.5465C5 15.4798 5.68333 17.1298 7.05 18.4965C8.41667 19.8632 10.0667 20.5465 12 20.5465Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>03:52</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-l-full" style="width: 67.42%"></div>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M14 15.5465C14.2833 15.5465 14.5292 15.4423 14.7375 15.234C14.9458 15.0257 15.05 14.7798 15.05 14.4965C15.05 14.2132 14.9458 13.9673 14.7375 13.759C14.5292 13.5507 14.2833 13.4465 14 13.4465C13.7167 13.4465 13.4708 13.5507 13.2625 13.759C13.0542 13.9673 12.95 14.2132 12.95 14.4965C12.95 14.7798 13.0542 15.0257 13.2625 15.234C13.4708 15.4423 13.7167 15.5465 14 15.5465ZM13.25 12.3465H14.75C14.75 11.8632 14.8 11.509 14.9 11.284C15 11.059 15.2333 10.7632 15.6 10.3965C16.1 9.89651 16.4333 9.49234 16.6 9.18401C16.7667 8.87568 16.85 8.51318 16.85 8.09651C16.85 7.34651 16.5875 6.73401 16.0625 6.25901C15.5375 5.78401 14.85 5.54651 14 5.54651C13.3167 5.54651 12.7208 5.73818 12.2125 6.12151C11.7042 6.50484 11.35 7.01318 11.15 7.64651L12.5 8.19651C12.65 7.77984 12.8542 7.46734 13.1125 7.25901C13.3708 7.05068 13.6667 6.94651 14 6.94651C14.4 6.94651 14.725 7.05901 14.975 7.28401C15.225 7.50901 15.35 7.81318 15.35 8.19651C15.35 8.42984 15.2833 8.65068 15.15 8.85901C15.0167 9.06734 14.7833 9.32984 14.45 9.64651C13.9 10.1298 13.5625 10.509 13.4375 10.784C13.3125 11.059 13.25 11.5798 13.25 12.3465ZM6 18.5465V2.54651H22V18.5465H6ZM8 16.5465H20V4.54651H8V16.5465ZM2 22.5465V6.54651H4V20.5465H18V22.5465H2Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>1/3</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-l-full" style="width: 33.333%"></div>
          </div>
        </div>
      </div>

      <button data-slider-slide-param="1" data-action="slider#next" type="button" class="max-sm:order-2 inline-flex gap-x-2.5 items-center rounded-full bg-blue-600 px-7 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
        <span>Next</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </header>

  <main class="bg-zinc-50 h-full pt-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
      <form class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Question</h2>
            <div class="mt-6 text-sm md:text-base font-medium text-gray-800"> 
              <p>What is the main point of the message below?</p>
              <p><br></p>
              <blockquote class="px-4 py-1 border-s-4 border-gray-300">"Thanks for checking in. We’re busier than ever here at the clinic. It’s a busy time of year—more and more people are wanting to get procedures done here instead of the hospital. I think we’re going to have to put this off until next spring. Sorry to string you along. We usually slow down a bit in April and May. I’ll reach out to you early next year."</blockquote>
            </div>
          </div>
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Select only one answer</h2>
            <div class="mt-6 space-y-5">
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-1" name="selected-option-1" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-1" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The sender does not want to work with the recipient.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-2" name="selected-option-1" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-2" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The sender is upset that the recipient has delayed things.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-3" name="selected-option-1" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-3" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The sender is very busy due to health issues.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-4" name="selected-option-1" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-4" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The sender wants to work with the recipient at a later time.</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>

<div data-controller="slider" id="slide-2" class="hidden">
  <header class="border-b border-gray-300">
    <div class="bg-white py-5 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex justify-between items-center gap-x-4 gap-y-5 flex-wrap">
      <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Milk Road</h1>
      <div class="space-y-2 max-sm:order-3">
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M9 3.54651V1.54651H15V3.54651H9ZM11 14.5465H13V8.54651H11V14.5465ZM12 22.5465C10.7667 22.5465 9.60417 22.309 8.5125 21.834C7.42083 21.359 6.46667 20.7132 5.65 19.8965C4.83333 19.0798 4.1875 18.1257 3.7125 17.034C3.2375 15.9423 3 14.7798 3 13.5465C3 12.3132 3.2375 11.1507 3.7125 10.059C4.1875 8.96734 4.83333 8.01318 5.65 7.19651C6.46667 6.37984 7.42083 5.73401 8.5125 5.25901C9.60417 4.78401 10.7667 4.54651 12 4.54651C13.0333 4.54651 14.025 4.71318 14.975 5.04651C15.925 5.37984 16.8167 5.86318 17.65 6.49651L19.05 5.09651L20.45 6.49651L19.05 7.89651C19.6833 8.72984 20.1667 9.62151 20.5 10.5715C20.8333 11.5215 21 12.5132 21 13.5465C21 14.7798 20.7625 15.9423 20.2875 17.034C19.8125 18.1257 19.1667 19.0798 18.35 19.8965C17.5333 20.7132 16.5792 21.359 15.4875 21.834C14.3958 22.309 13.2333 22.5465 12 22.5465ZM12 20.5465C13.9333 20.5465 15.5833 19.8632 16.95 18.4965C18.3167 17.1298 19 15.4798 19 13.5465C19 11.6132 18.3167 9.96318 16.95 8.59651C15.5833 7.22984 13.9333 6.54651 12 6.54651C10.0667 6.54651 8.41667 7.22984 7.05 8.59651C5.68333 9.96318 5 11.6132 5 13.5465C5 15.4798 5.68333 17.1298 7.05 18.4965C8.41667 19.8632 10.0667 20.5465 12 20.5465Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>04:52</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-l-full" style="width: 87.42%"></div>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M14 15.5465C14.2833 15.5465 14.5292 15.4423 14.7375 15.234C14.9458 15.0257 15.05 14.7798 15.05 14.4965C15.05 14.2132 14.9458 13.9673 14.7375 13.759C14.5292 13.5507 14.2833 13.4465 14 13.4465C13.7167 13.4465 13.4708 13.5507 13.2625 13.759C13.0542 13.9673 12.95 14.2132 12.95 14.4965C12.95 14.7798 13.0542 15.0257 13.2625 15.234C13.4708 15.4423 13.7167 15.5465 14 15.5465ZM13.25 12.3465H14.75C14.75 11.8632 14.8 11.509 14.9 11.284C15 11.059 15.2333 10.7632 15.6 10.3965C16.1 9.89651 16.4333 9.49234 16.6 9.18401C16.7667 8.87568 16.85 8.51318 16.85 8.09651C16.85 7.34651 16.5875 6.73401 16.0625 6.25901C15.5375 5.78401 14.85 5.54651 14 5.54651C13.3167 5.54651 12.7208 5.73818 12.2125 6.12151C11.7042 6.50484 11.35 7.01318 11.15 7.64651L12.5 8.19651C12.65 7.77984 12.8542 7.46734 13.1125 7.25901C13.3708 7.05068 13.6667 6.94651 14 6.94651C14.4 6.94651 14.725 7.05901 14.975 7.28401C15.225 7.50901 15.35 7.81318 15.35 8.19651C15.35 8.42984 15.2833 8.65068 15.15 8.85901C15.0167 9.06734 14.7833 9.32984 14.45 9.64651C13.9 10.1298 13.5625 10.509 13.4375 10.784C13.3125 11.059 13.25 11.5798 13.25 12.3465ZM6 18.5465V2.54651H22V18.5465H6ZM8 16.5465H20V4.54651H8V16.5465ZM2 22.5465V6.54651H4V20.5465H18V22.5465H2Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>2/3</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-l-full" style="width: 66.666%"></div>
          </div>
        </div>
      </div>

      <button data-slider-slide-param="2" data-action="slider#next" type="button" class="max-sm:order-2 inline-flex gap-x-2.5 items-center rounded-full bg-blue-600 px-7 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
        <span>Next</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </header>

  <main class="bg-zinc-50 h-full pt-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
      <form class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Question</h2>
            <div class="mt-6 text-sm md:text-base font-medium text-gray-800"> 
              <p>What is the issue with how the speaker in the audio clip communicates her message?</p>
              <p><br></p>
              <audio src="https://tgo-assets-production.s3.amazonaws.com/production/0d6b3998-160b-4c60-b9ec-aea7ef4e5da9-683cd612-2608-44e5-8ef6-2dd6a6f25d73.mp3?AWSAccessKeyId=ASIAUJMDFWCPTECDUNSN&amp;Signature=IRTIsTEKps9c6m%2BJYcgbmELXKUQ%3D&amp;x-amz-security-token=IQoJb3JpZ2luX2VjEKj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJGMEQCIFnp05U4cyoRbQnZad35WX0uoWWa2KVpQUzodZT8PsJ7AiBea4P6gCCbBLpBX3fmoyLSAipEo%2BRVsdz%2BU6k5Df5cJSrzAwhhEAIaDDI5NTAxNzIzMDQ5NSIMEnSs%2FKUMwwN8xbtwKtAD19MWV1tm2aQ0A1XD6dOvPPo90ny3DuNGevi%2Bh7DanhVObuCeomOuzhWtZQrEJfUawfPZyDvdXR2QSJtH5RACXZE4amT4lrbMky21HLw01W%2B%2BI51gCoZDNOVtKxJwDiIMZPANEFv9YFcZtnfDm3IVSDm%2FVo8KL3u9SDYtSVXZvjcbbal%2BA04g2IWPL%2Ft40jGNLBS4z0ZW21sAQfBhIcijmb%2BEcH%2BQnNll2G59AusFvQRcNqedY%2FNT0Pa8AmYIRGgeJizK%2BKkZMp8ExaKnzhQuBGEakSiWLxG7U6lv%2Fjogh0czA0h%2B2U%2ByZ7CpXygyLeNjUMiuzLoRjq4GaZBjQc1dBMZwMxCBDB3zSSD8MaSPsPFgPGQoaihmAWwEeXljm2zXhsi4fyA%2F5k5pXpLWGs%2FYQ%2BLvaQkPWq5fy%2BND79os7hgn75YYhCFuIDkuODgr9Ho3pG09XsTO44SxxjxRHgVfMIm9ZyPeRikwiyNbUSY74ldY7bMFPo%2FcddIO1KxMhEcfHhxbFe2Utq%2B%2FoT39gUuE4cYYlFIVWKyuCvdp3UxYXsIMo75bwQx8j8zeJWhZ1IQ7baFIFqf69j721GryGQR%2BHhDcqUn1l%2FZuE7RtN%2FHX6SgwkpWLtAY6pgF8vVsIeNXC5Hw9FNiL2LHIv%2BeDpy9V2pWkawZtIRxdoYSRyIhehEpV9%2FVXzOKDhghnW%2BX10gEn5GGHlHYQ8AwArWNlhmrb%2BfQ5kZnnKi4VOyBEZc7%2BZTxPML%2B0hLv1uvYvTGVJwfPm2LrKaC99ZGo3r4NDNAdGDlX6romFn9JKV1KycvGLF6WfYtubTJGlLnBQJkGrtlMops0MNkK%2BKgPogxLc4ycR&amp;Expires=1719878849" controls="controls" controlslist="nodownload"></audio>
            </div>
          </div>
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Select only one answer</h2>
            <div class="mt-6 space-y-5">
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-1" name="selected-option-2" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-1" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The use of the word "but" detracts from the compliment.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-2" name="selected-option-2" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-2" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">Nothing. It's fine the way it is.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-3" name="selected-option-2" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-3" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The speaker should begin with the negative feedback, not the positive part.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-4" name="selected-option-2" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-4" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">The speaker shouldn't be so positive when delivering constructive feedback.</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>

<div data-controller="slider" id="slide-3" class="hidden">
  <header class="border-b border-gray-300">
    <div class="bg-white py-5 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex justify-between items-center gap-x-4 gap-y-5 flex-wrap">
      <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Milk Road</h1>
      <div class="space-y-2 max-sm:order-3">
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M9 3.54651V1.54651H15V3.54651H9ZM11 14.5465H13V8.54651H11V14.5465ZM12 22.5465C10.7667 22.5465 9.60417 22.309 8.5125 21.834C7.42083 21.359 6.46667 20.7132 5.65 19.8965C4.83333 19.0798 4.1875 18.1257 3.7125 17.034C3.2375 15.9423 3 14.7798 3 13.5465C3 12.3132 3.2375 11.1507 3.7125 10.059C4.1875 8.96734 4.83333 8.01318 5.65 7.19651C6.46667 6.37984 7.42083 5.73401 8.5125 5.25901C9.60417 4.78401 10.7667 4.54651 12 4.54651C13.0333 4.54651 14.025 4.71318 14.975 5.04651C15.925 5.37984 16.8167 5.86318 17.65 6.49651L19.05 5.09651L20.45 6.49651L19.05 7.89651C19.6833 8.72984 20.1667 9.62151 20.5 10.5715C20.8333 11.5215 21 12.5132 21 13.5465C21 14.7798 20.7625 15.9423 20.2875 17.034C19.8125 18.1257 19.1667 19.0798 18.35 19.8965C17.5333 20.7132 16.5792 21.359 15.4875 21.834C14.3958 22.309 13.2333 22.5465 12 22.5465ZM12 20.5465C13.9333 20.5465 15.5833 19.8632 16.95 18.4965C18.3167 17.1298 19 15.4798 19 13.5465C19 11.6132 18.3167 9.96318 16.95 8.59651C15.5833 7.22984 13.9333 6.54651 12 6.54651C10.0667 6.54651 8.41667 7.22984 7.05 8.59651C5.68333 9.96318 5 11.6132 5 13.5465C5 15.4798 5.68333 17.1298 7.05 18.4965C8.41667 19.8632 10.0667 20.5465 12 20.5465Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>01:24</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-l-full" style="width: 22.42%"></div>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-x-4 font-bold text-xs text-gray-900 max-w-sm">
          <div class="flex items-center gap-x-1 col-span-2">
            <div>
              <svg width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path d="M14 15.5465C14.2833 15.5465 14.5292 15.4423 14.7375 15.234C14.9458 15.0257 15.05 14.7798 15.05 14.4965C15.05 14.2132 14.9458 13.9673 14.7375 13.759C14.5292 13.5507 14.2833 13.4465 14 13.4465C13.7167 13.4465 13.4708 13.5507 13.2625 13.759C13.0542 13.9673 12.95 14.2132 12.95 14.4965C12.95 14.7798 13.0542 15.0257 13.2625 15.234C13.4708 15.4423 13.7167 15.5465 14 15.5465ZM13.25 12.3465H14.75C14.75 11.8632 14.8 11.509 14.9 11.284C15 11.059 15.2333 10.7632 15.6 10.3965C16.1 9.89651 16.4333 9.49234 16.6 9.18401C16.7667 8.87568 16.85 8.51318 16.85 8.09651C16.85 7.34651 16.5875 6.73401 16.0625 6.25901C15.5375 5.78401 14.85 5.54651 14 5.54651C13.3167 5.54651 12.7208 5.73818 12.2125 6.12151C11.7042 6.50484 11.35 7.01318 11.15 7.64651L12.5 8.19651C12.65 7.77984 12.8542 7.46734 13.1125 7.25901C13.3708 7.05068 13.6667 6.94651 14 6.94651C14.4 6.94651 14.725 7.05901 14.975 7.28401C15.225 7.50901 15.35 7.81318 15.35 8.19651C15.35 8.42984 15.2833 8.65068 15.15 8.85901C15.0167 9.06734 14.7833 9.32984 14.45 9.64651C13.9 10.1298 13.5625 10.509 13.4375 10.784C13.3125 11.059 13.25 11.5798 13.25 12.3465ZM6 18.5465V2.54651H22V18.5465H6ZM8 16.5465H20V4.54651H8V16.5465ZM2 22.5465V6.54651H4V20.5465H18V22.5465H2Z" fill="currentColor"></path>
              </svg>
            </div>
            <p>3/3</p>
          </div>
          <div class="mt-1 col-span-10 w-full bg-gray-200 rounded-full h-2">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
          </div>
        </div>
      </div>

      <a href="/talent_assessment/test/1/intro" class="max-sm:order-2 inline-flex gap-x-2.5 items-center rounded-full bg-blue-600 px-7 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
        <span>Finish</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </a>
    </div>
  </header>

  <main class="bg-zinc-50 h-full pt-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
      <form class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Question</h2>
            <div class="mt-6 text-sm md:text-base font-medium text-gray-800">
              <p>You are told by your supervisor that a colleague is avoiding you because you hurt their feelings with something you said.&nbsp;</p>
              <p><br></p>
              <p><strong>What's the best way to move forward to address the situation?</strong></p>
            </div>
          </div>
          <div>
            <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Select only one answer</h2>
            <div class="mt-6 space-y-5">
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-1" name="selected-option-3" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-1" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">Leave the colleague alone because you make them uncomfortable.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-2" name="selected-option-3" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-2" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">Ask the colleague for a private conversation so you can apologize and find out exactly what hurt their feelings.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-3" name="selected-option-3" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-3" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">Ask the colleague for a private conversation so you can apologize and find out exactly what hurt their feelings.</label>
              </div>
              <div class="flex items-center border border-gray-300 rounded-md p-4">
                <input id="option-4" name="selected-option-3" type="radio" class="size-7 border-gray-300 text-blue-600 focus:ring-blue-600">
                <label for="option-4" class="ml-5 block text-sm md:text-base font-semibold text-gray-800">Ask your supervisor what part of what you said has hurt your colleague's feelings, so you can avoid that in the future.</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>
