<% if any_error? %>
  <div class="mt-1">
    <% errors.each do |error| %>
      <div class="flex items-center gap-x-1.5 text-xs font-semibold text-red-500">
        <div><%= helpers.svg_tag "exclamation_circle", "stroke-width": 2, class: "size-4" %></div>
        <p><%= error.humanize %></p>
      </div>
    <% end %>
  </div>
<% end %>
