<% if any_error? %>
  <div class="mt-1">
    <% errors.each do |error| %>
      <div class="flex items-center gap-x-1.5 text-xs font-semibold text-red-500">
        <div>
          <svg class="size-4" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <path d="M13 7.54639L11 7.54639L11 13.5464L13 13.5464L13 7.54639ZM12 15.5464C11.7167 15.5464 11.4792 15.6422 11.2875 15.8339C11.0958 16.0256 11 16.2631 11 16.5464C11 16.8297 11.0958 17.0672 11.2875 17.2589C11.4792 17.4506 11.7167 17.5464 12 17.5464C12.2833 17.5464 12.5208 17.4506 12.7125 17.2589C12.9042 17.0672 13 16.8297 13 16.5464C13 16.2631 12.9042 16.0256 12.7125 15.8339C12.5208 15.6422 12.2833 15.5464 12 15.5464ZM12 2.54639C13.3833 2.54639 14.6833 2.80889 15.9 3.33389C17.1167 3.85889 18.175 4.57139 19.075 5.47139C19.975 6.37139 20.6875 7.42972 21.2125 8.64639C21.7375 9.86305 22 11.1631 22 12.5464C22 13.9297 21.7375 15.2297 21.2125 16.4464C20.6875 17.6631 19.975 18.7214 19.075 19.6214C18.175 20.5214 17.1167 21.2339 15.9 21.7589C14.6833 22.2839 13.3833 22.5464 12 22.5464C10.6167 22.5464 9.31667 22.2839 8.1 21.7589C6.88333 21.2339 5.825 20.5214 4.925 19.6214C4.025 18.7214 3.3125 17.6631 2.7875 16.4464C2.2625 15.2297 2 13.9297 2 12.5464C2 11.1631 2.2625 9.86305 2.7875 8.64639C3.3125 7.42972 4.025 6.37139 4.925 5.47139C5.825 4.57139 6.88333 3.85889 8.1 3.33389C9.31666 2.80889 10.6167 2.54639 12 2.54639ZM12 4.54639C9.76666 4.54639 7.875 5.32139 6.325 6.87139C4.775 8.42139 4 10.3131 4 12.5464C4 14.7797 4.775 16.6714 6.325 18.2214C7.875 19.7714 9.76667 20.5464 12 20.5464C14.2333 20.5464 16.125 19.7714 17.675 18.2214C19.225 16.6714 20 14.7797 20 12.5464C20 10.3131 19.225 8.42139 17.675 6.87139C16.125 5.32139 14.2333 4.54639 12 4.54639Z" fill="currentColor"></path>
          </svg>
        </div>
        <p><%= error.humanize %></p>
      </div>
    <% end %>
  </div>
<% end %>
