<div class="p-8 text-center">
  <div>
    <%= helpers.svg_tag "clock", class: "size-9 mx-auto" %>
  </div>
  <h2 class="mt-6 font-bold leading-7 text-gray-900 text-base tracking-tight"><%= title %></h2>
  <p class="mt-2 font-medium text-sm text-gray-800"><%= message %></p>
</div>