<%= render "customer/shared/header" %>

<div class="bg-white border-b border-zinc-200 py-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex gap-x-4 items-center justify-between">
      <div class="min-w-0 flex-1 flex items-center gap-x-2">
        <a href="/customer/assessments" class="text-blue-600 p-2.5 mr-4 sm:mr-8 hover:rounded-full hover:bg-zinc-100 hover:shadow-sm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </a>

        <div>
          <div class="flex items-center gap-x-2.5">
            <h2 class="truncate text-xl font-bold leading-7 text-slate-900"><!-- Untitled assessment -->Business Manager</h2>
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
            </button>
          </div>

          <div class="mt-2 flex gap-x-5 items-center">
            <div class="flex gap-x-2 items-center text-gray-600">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5C3.17157 1.5 2.5 2.17157 2.5 3V11C2.5 11.8284 3.17157 12.5 4 12.5H4.5V13C4.5 13.8284 5.17157 14.5 6 14.5H12C12.8284 14.5 13.5 13.8284 13.5 13V5C13.5 4.17157 12.8284 3.5 12 3.5H11.5V3C11.5 2.17157 10.8284 1.5 10 1.5H4ZM11.5 4.5V11C11.5 11.8284 10.8284 12.5 10 12.5H5.5V13C5.5 13.2761 5.72386 13.5 6 13.5H12C12.2761 13.5 12.5 13.2761 12.5 13V5C12.5 4.72386 12.2761 4.5 12 4.5H11.5ZM3.5 3C3.5 2.72386 3.72386 2.5 4 2.5H10C10.2761 2.5 10.5 2.72386 10.5 3V11C10.5 11.2761 10.2761 11.5 10 11.5H4C3.72386 11.5 3.5 11.2761 3.5 11V3ZM6.5 5.5H5V4.5H9V5.5H7.5V9H6.5V5.5Z" fill="currentColor"></path>
                </svg>
              <p class="font-medium">1 test</p>
            </div>

            <div class="flex gap-x-2 items-center text-gray-600">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
              </svg>
              <p class="font-medium">9 mins</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="bg-zinc-50 h-full relative">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16">
    <nav aria-label="Progress">
      <ol role="list" class="divide-y divide-gray-300 rounded-xl md:rounded-full border border-gray-300 md:flex md:divide-y-0">
        <li class="relative md:flex md:flex-1">
          <!-- Current Step -->
          <a href="#" class="flex items-center px-6 py-4 text-sm font-medium" aria-current="step">
            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-blue-600">
              <span class="text-blue-600">01</span>
            </span>
            <span class="ml-4 text-sm font-medium text-blue-600">Choose tests</span>
          </a>
          <!-- Arrow separator for lg screens and up -->
          <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
            <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
              <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
            </svg>
          </div>
        </li>
        <li class="relative md:flex md:flex-1">
          <!-- Upcoming Step -->
          <a href="#" class="group flex items-center">
            <span class="flex items-center px-6 py-4 text-sm font-medium">
              <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                <span class="text-gray-500 group-hover:text-gray-900">02</span>
              </span>
              <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">Add questions</span>
            </span>
          </a>
        </li>
        <li class="relative md:flex md:flex-1">
          <!-- Upcoming Step -->
          <a href="#" class="group flex items-center">
            <span class="flex items-center px-6 py-4 text-sm font-medium">
              <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                <span class="text-gray-500 group-hover:text-gray-900">03</span>
              </span>
              <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">Review & configure</span>
            </span>
          </a>
        </li>
      </ol>
    </nav>

    <div class="mt-12">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Choose tests</h1>
      <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
        <div class="group cursor-pointer inline-flex justify-between gap-x-2.5 items-center rounded-full bg-blue-600 pl-5 pr-4 py-2 text-sm font-semibold text-white shadow-sm">
          <span class="py-1 truncate ">Motivation</span>
          <div class="hidden group-hover:flex gap-x-1.5">
            <button type="button" class="text-white p-1 hover:rounded-full hover:bg-white hover:text-white hover:bg-opacity-30 hover:shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </button>
            <button type="button" class="text-white p-1 hover:rounded-full hover:bg-white hover:text-white hover:bg-opacity-30 hover:shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
       </div>
       <div class="cursor-pointer rounded-full px-5 py-3 text-sm font-semibold text-gray-400 border border-dashed border-gray-400 shadow-sm text-center">
          2nd test
       </div>
       <div class="cursor-pointer rounded-full px-5 py-3 text-sm font-semibold text-gray-400 border border-dashed border-gray-400 shadow-sm text-center">
          3nd test
       </div>
       <div class="cursor-pointer rounded-full px-5 py-3 text-sm font-semibold text-gray-400 border border-dashed border-gray-400 shadow-sm text-center">
          4nd test
       </div>
       <div class="cursor-pointer rounded-full px-5 py-3 text-sm font-semibold text-gray-400 border border-dashed border-gray-400 shadow-sm text-center">
          5nd test
       </div>
      </div>
      <div class="mt-8">
        <p class="text-sm text-gray-700">413 tests available.</p>

        <div class="mt-4 pb-16">
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <div class="rounded-xl border border-gray-300 bg-white px-6 py-5 shadow-sm block">
              <div class="w-full">
                <h2 class="truncate text-lg font-medium leading-7 text-slate-900">Problem Solving</h2>
                <div class="mt-3 flex items-center flex-wrap gap-3">
                  <p class="rounded-full bg-blue-100 px-2 text-xs font-semibold leading-6 text-gray-900">Cognitive ability</p>
                  <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 1 0 9.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1 1 14.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                    </svg>
                    Free
                  </p>
                  <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                    </svg>
                    Popular
                  </p>
                </div>

                <p class="mt-5 text-sm text-gray-600">This Problem Solving test evaluates candidates' ability to define problems and analyze data and textual information to make correct decisions. This test helps you identify candidates who use analytical skills to evaluate and respond to complex situations.</p>
              
                <div class="mt-5 flex gap-x-5 gap-y-1 flex-wrap items-center">
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                    </svg>
                    <p>9 mins</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5C3.33696 1.5 2.70107 1.76339 2.23223 2.23223C1.76339 2.70107 1.5 3.33696 1.5 4V12C1.5 12.663 1.76339 13.2989 2.23223 13.7678C2.70107 14.2366 3.33696 14.5 4 14.5H7.33333C7.60948 14.5 7.83333 14.2761 7.83333 14C7.83333 13.7239 7.60948 13.5 7.33333 13.5H4C3.60218 13.5 3.22064 13.342 2.93934 13.0607C2.65804 12.7794 2.5 12.3978 2.5 12V4C2.5 3.60218 2.65804 3.22064 2.93934 2.93934C3.22064 2.65804 3.60218 2.5 4 2.5H12C12.3978 2.5 12.7794 2.65804 13.0607 2.93934C13.342 3.22064 13.5 3.60218 13.5 4V7.33333C13.5 7.60948 13.7239 7.83333 14 7.83333C14.2761 7.83333 14.5 7.60948 14.5 7.33333V4C14.5 3.33696 14.2366 2.70107 13.7678 2.23223C13.2989 1.76339 12.663 1.5 12 1.5H4ZM4.16699 5.33331C4.16699 5.05717 4.39085 4.83331 4.66699 4.83331H8.00033C8.27647 4.83331 8.50033 5.05717 8.50033 5.33331C8.50033 5.60946 8.27647 5.83331 8.00033 5.83331H4.66699C4.39085 5.83331 4.16699 5.60946 4.16699 5.33331ZM7.5 8C7.5 7.72386 7.72386 7.5 8 7.5H10C10.2761 7.5 10.5 7.72386 10.5 8C10.5 8.27614 10.2761 8.5 10 8.5H8C7.72386 8.5 7.5 8.27614 7.5 8ZM10 4.83331C9.72386 4.83331 9.5 5.05717 9.5 5.33331C9.5 5.60946 9.72386 5.83331 10 5.83331H11.3333C11.6095 5.83331 11.8333 5.60946 11.8333 5.33331C11.8333 5.05717 11.6095 4.83331 11.3333 4.83331H10ZM4.16699 8C4.16699 7.72386 4.39085 7.5 4.66699 7.5H6.00033C6.27647 7.5 6.50033 7.72386 6.50033 8C6.50033 8.27614 6.27647 8.5 6.00033 8.5H4.66699C4.39085 8.5 4.16699 8.27614 4.16699 8ZM4.66699 10.1667C4.39085 10.1667 4.16699 10.3905 4.16699 10.6667C4.16699 10.9428 4.39085 11.1667 4.66699 11.1667H8.00033C8.27647 11.1667 8.50033 10.9428 8.50033 10.6667C8.50033 10.3905 8.27647 10.1667 8.00033 10.1667H4.66699ZM12.1178 9.17508C12.3366 8.95629 12.6333 8.83337 12.9428 8.83337C13.2522 8.83337 13.5489 8.95629 13.7677 9.17508L14.825 10.2323C15.0438 10.4511 15.1667 10.7479 15.1667 11.0573C15.1667 11.3667 15.0438 11.6635 14.825 11.8822L12.5489 14.1583C12.4406 14.2667 12.3119 14.3526 12.1704 14.4112C12.0288 14.4699 11.8771 14.5 11.7239 14.5H10.3333C10.1123 14.5 9.90036 14.4122 9.74408 14.256C9.5878 14.0997 9.5 13.8877 9.5 13.6667V12.2761C9.5 12.1229 9.53017 11.9712 9.5888 11.8297C9.64743 11.6881 9.73337 11.5595 9.8417 11.4511L12.1178 9.17508ZM12.9428 9.83337C12.8986 9.83337 12.8562 9.85093 12.8249 9.88219L10.5488 12.1582C10.5333 12.1737 10.5211 12.1921 10.5127 12.2123C10.5043 12.2325 10.5 12.2542 10.5 12.2761V13.5H11.7239C11.7458 13.5 11.7675 13.4957 11.7877 13.4873C11.8079 13.479 11.8263 13.4667 11.8418 13.4512L14.1179 11.1751C14.1491 11.1439 14.1667 11.1015 14.1667 11.0573C14.1667 11.0131 14.1491 10.9707 14.1179 10.9394L13.0606 9.88219C13.0294 9.85093 12.987 9.83337 12.9428 9.83337Z" fill="black"></path>
                    </svg>
                    <p>15 questions</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.14182 2.45731C4.53022 1.80997 5.4684 1.80997 5.8568 2.45731L7.97371 5.98548C8.37362 6.652 7.89351 7.49998 7.11621 7.49998H2.8824C2.10511 7.49998 1.625 6.652 2.02491 5.98548L4.14182 2.45731ZM7.11621 6.49998L4.99931 2.9718L2.8824 6.49998L7.11621 6.49998ZM9.49951 6.5C9.49951 5.94772 9.94723 5.5 10.4995 5.5H13.4995C14.0518 5.5 14.4995 5.94772 14.4995 6.5V9.5C14.4995 10.0523 14.0518 10.5 13.4995 10.5H10.4995C9.94723 10.5 9.49951 10.0523 9.49951 9.5V6.5ZM13.4995 6.5H10.4995V9.5H13.4995V6.5ZM3.49951 11.5C3.49951 10.3954 4.39494 9.5 5.49951 9.5C6.60408 9.5 7.49951 10.3954 7.49951 11.5C7.49951 12.6046 6.60408 13.5 5.49951 13.5C4.39494 13.5 3.49951 12.6046 3.49951 11.5ZM5.49951 8.5C3.84266 8.5 2.49951 9.84315 2.49951 11.5C2.49951 13.1569 3.84266 14.5 5.49951 14.5C7.15637 14.5 8.49951 13.1569 8.49951 11.5C8.49951 9.84315 7.15637 8.5 5.49951 8.5Z" fill="black"></path>
                    </svg>
                    <p>Multiple choice</p>
                  </div>
                </div>

                <div class="mt-7 flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center flex-wrap gap-4">
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Preview</button>
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Details</button>
                  </div>

                  <button type="button" class="rounded-full py-2 px-6 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gray-900 text-white hover:text-slate-100 hover:bg-gray-700">Add</button>
                </div>
              </div>
            </div>

            <div class="rounded-xl border-2 border-gray-900 bg-white px-6 py-5 shadow-sm block">
              <div class="w-full">
                <h2 class="truncate text-lg font-medium leading-7 text-slate-900">Motivation</h2>
                <div class="mt-3 flex items-center flex-wrap gap-3">
                  <p class="rounded-full bg-blue-100 px-2 text-xs font-semibold leading-6 text-gray-900">Personality & culture</p>
                  <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 1 0 9.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1 1 14.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                    </svg>
                    Free
                  </p>
                  <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                    </svg>
                    Popular
                  </p>
                </div>

                <p class="mt-5 text-sm text-gray-600">Rooted in Oldham & Hackman’s Job Characteristics Model, the job preferences test measures the extent to which your candidates' expectations align with your job offer, based on a customized survey that you and the candidate both fill out.</p>
              
                <div class="mt-5 flex gap-x-5 gap-y-1 flex-wrap items-center">
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                    </svg>
                    <p>15 mins</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5C3.33696 1.5 2.70107 1.76339 2.23223 2.23223C1.76339 2.70107 1.5 3.33696 1.5 4V12C1.5 12.663 1.76339 13.2989 2.23223 13.7678C2.70107 14.2366 3.33696 14.5 4 14.5H7.33333C7.60948 14.5 7.83333 14.2761 7.83333 14C7.83333 13.7239 7.60948 13.5 7.33333 13.5H4C3.60218 13.5 3.22064 13.342 2.93934 13.0607C2.65804 12.7794 2.5 12.3978 2.5 12V4C2.5 3.60218 2.65804 3.22064 2.93934 2.93934C3.22064 2.65804 3.60218 2.5 4 2.5H12C12.3978 2.5 12.7794 2.65804 13.0607 2.93934C13.342 3.22064 13.5 3.60218 13.5 4V7.33333C13.5 7.60948 13.7239 7.83333 14 7.83333C14.2761 7.83333 14.5 7.60948 14.5 7.33333V4C14.5 3.33696 14.2366 2.70107 13.7678 2.23223C13.2989 1.76339 12.663 1.5 12 1.5H4ZM4.16699 5.33331C4.16699 5.05717 4.39085 4.83331 4.66699 4.83331H8.00033C8.27647 4.83331 8.50033 5.05717 8.50033 5.33331C8.50033 5.60946 8.27647 5.83331 8.00033 5.83331H4.66699C4.39085 5.83331 4.16699 5.60946 4.16699 5.33331ZM7.5 8C7.5 7.72386 7.72386 7.5 8 7.5H10C10.2761 7.5 10.5 7.72386 10.5 8C10.5 8.27614 10.2761 8.5 10 8.5H8C7.72386 8.5 7.5 8.27614 7.5 8ZM10 4.83331C9.72386 4.83331 9.5 5.05717 9.5 5.33331C9.5 5.60946 9.72386 5.83331 10 5.83331H11.3333C11.6095 5.83331 11.8333 5.60946 11.8333 5.33331C11.8333 5.05717 11.6095 4.83331 11.3333 4.83331H10ZM4.16699 8C4.16699 7.72386 4.39085 7.5 4.66699 7.5H6.00033C6.27647 7.5 6.50033 7.72386 6.50033 8C6.50033 8.27614 6.27647 8.5 6.00033 8.5H4.66699C4.39085 8.5 4.16699 8.27614 4.16699 8ZM4.66699 10.1667C4.39085 10.1667 4.16699 10.3905 4.16699 10.6667C4.16699 10.9428 4.39085 11.1667 4.66699 11.1667H8.00033C8.27647 11.1667 8.50033 10.9428 8.50033 10.6667C8.50033 10.3905 8.27647 10.1667 8.00033 10.1667H4.66699ZM12.1178 9.17508C12.3366 8.95629 12.6333 8.83337 12.9428 8.83337C13.2522 8.83337 13.5489 8.95629 13.7677 9.17508L14.825 10.2323C15.0438 10.4511 15.1667 10.7479 15.1667 11.0573C15.1667 11.3667 15.0438 11.6635 14.825 11.8822L12.5489 14.1583C12.4406 14.2667 12.3119 14.3526 12.1704 14.4112C12.0288 14.4699 11.8771 14.5 11.7239 14.5H10.3333C10.1123 14.5 9.90036 14.4122 9.74408 14.256C9.5878 14.0997 9.5 13.8877 9.5 13.6667V12.2761C9.5 12.1229 9.53017 11.9712 9.5888 11.8297C9.64743 11.6881 9.73337 11.5595 9.8417 11.4511L12.1178 9.17508ZM12.9428 9.83337C12.8986 9.83337 12.8562 9.85093 12.8249 9.88219L10.5488 12.1582C10.5333 12.1737 10.5211 12.1921 10.5127 12.2123C10.5043 12.2325 10.5 12.2542 10.5 12.2761V13.5H11.7239C11.7458 13.5 11.7675 13.4957 11.7877 13.4873C11.8079 13.479 11.8263 13.4667 11.8418 13.4512L14.1179 11.1751C14.1491 11.1439 14.1667 11.1015 14.1667 11.0573C14.1667 11.0131 14.1491 10.9707 14.1179 10.9394L13.0606 9.88219C13.0294 9.85093 12.987 9.83337 12.9428 9.83337Z" fill="black"></path>
                    </svg>
                    <p>20 questions</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.14182 2.45731C4.53022 1.80997 5.4684 1.80997 5.8568 2.45731L7.97371 5.98548C8.37362 6.652 7.89351 7.49998 7.11621 7.49998H2.8824C2.10511 7.49998 1.625 6.652 2.02491 5.98548L4.14182 2.45731ZM7.11621 6.49998L4.99931 2.9718L2.8824 6.49998L7.11621 6.49998ZM9.49951 6.5C9.49951 5.94772 9.94723 5.5 10.4995 5.5H13.4995C14.0518 5.5 14.4995 5.94772 14.4995 6.5V9.5C14.4995 10.0523 14.0518 10.5 13.4995 10.5H10.4995C9.94723 10.5 9.49951 10.0523 9.49951 9.5V6.5ZM13.4995 6.5H10.4995V9.5H13.4995V6.5ZM3.49951 11.5C3.49951 10.3954 4.39494 9.5 5.49951 9.5C6.60408 9.5 7.49951 10.3954 7.49951 11.5C7.49951 12.6046 6.60408 13.5 5.49951 13.5C4.39494 13.5 3.49951 12.6046 3.49951 11.5ZM5.49951 8.5C3.84266 8.5 2.49951 9.84315 2.49951 11.5C2.49951 13.1569 3.84266 14.5 5.49951 14.5C7.15637 14.5 8.49951 13.1569 8.49951 11.5C8.49951 9.84315 7.15637 8.5 5.49951 8.5Z" fill="black"></path>
                    </svg>
                    <p>Questionnaire</p>
                  </div>
                </div>

                <div class="mt-7 flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center flex-wrap gap-4">
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Preview</button>
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Details</button>
                  </div>

                  <button type="button" class="ring-1 inline-flex items-center gap-x-1.5 rounded-full py-2 px-3 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-white ring-red-500 text-red-500 hover:text-white hover:bg-red-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    Remove
                  </button>
                </div>
              </div>
            </div>

            <div class="rounded-xl border border-gray-300 bg-white px-6 py-5 shadow-sm block">
              <div class="w-full">
                <h2 class="truncate text-lg font-medium leading-7 text-slate-900">Communication</h2>
                <div class="mt-3 flex items-center flex-wrap gap-3">
                  <p class="rounded-full bg-blue-100 px-2 text-xs font-semibold leading-6 text-gray-900">Situational judgment</p>
                  <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 1 0 9.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1 1 14.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                    </svg>
                    Free
                  </p>
                </div>

                <p class="mt-5 text-sm text-gray-600">This Communication test evaluates candidates' skills in communicating clearly and effectively using professional etiquette. The test assesses candidates in both written and verbal communication, as well as non-verbal cues and active listening.</p>
              
                <div class="mt-5 flex gap-x-5 gap-y-1 flex-wrap items-center">
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                    </svg>
                    <p>8 mins</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5C3.33696 1.5 2.70107 1.76339 2.23223 2.23223C1.76339 2.70107 1.5 3.33696 1.5 4V12C1.5 12.663 1.76339 13.2989 2.23223 13.7678C2.70107 14.2366 3.33696 14.5 4 14.5H7.33333C7.60948 14.5 7.83333 14.2761 7.83333 14C7.83333 13.7239 7.60948 13.5 7.33333 13.5H4C3.60218 13.5 3.22064 13.342 2.93934 13.0607C2.65804 12.7794 2.5 12.3978 2.5 12V4C2.5 3.60218 2.65804 3.22064 2.93934 2.93934C3.22064 2.65804 3.60218 2.5 4 2.5H12C12.3978 2.5 12.7794 2.65804 13.0607 2.93934C13.342 3.22064 13.5 3.60218 13.5 4V7.33333C13.5 7.60948 13.7239 7.83333 14 7.83333C14.2761 7.83333 14.5 7.60948 14.5 7.33333V4C14.5 3.33696 14.2366 2.70107 13.7678 2.23223C13.2989 1.76339 12.663 1.5 12 1.5H4ZM4.16699 5.33331C4.16699 5.05717 4.39085 4.83331 4.66699 4.83331H8.00033C8.27647 4.83331 8.50033 5.05717 8.50033 5.33331C8.50033 5.60946 8.27647 5.83331 8.00033 5.83331H4.66699C4.39085 5.83331 4.16699 5.60946 4.16699 5.33331ZM7.5 8C7.5 7.72386 7.72386 7.5 8 7.5H10C10.2761 7.5 10.5 7.72386 10.5 8C10.5 8.27614 10.2761 8.5 10 8.5H8C7.72386 8.5 7.5 8.27614 7.5 8ZM10 4.83331C9.72386 4.83331 9.5 5.05717 9.5 5.33331C9.5 5.60946 9.72386 5.83331 10 5.83331H11.3333C11.6095 5.83331 11.8333 5.60946 11.8333 5.33331C11.8333 5.05717 11.6095 4.83331 11.3333 4.83331H10ZM4.16699 8C4.16699 7.72386 4.39085 7.5 4.66699 7.5H6.00033C6.27647 7.5 6.50033 7.72386 6.50033 8C6.50033 8.27614 6.27647 8.5 6.00033 8.5H4.66699C4.39085 8.5 4.16699 8.27614 4.16699 8ZM4.66699 10.1667C4.39085 10.1667 4.16699 10.3905 4.16699 10.6667C4.16699 10.9428 4.39085 11.1667 4.66699 11.1667H8.00033C8.27647 11.1667 8.50033 10.9428 8.50033 10.6667C8.50033 10.3905 8.27647 10.1667 8.00033 10.1667H4.66699ZM12.1178 9.17508C12.3366 8.95629 12.6333 8.83337 12.9428 8.83337C13.2522 8.83337 13.5489 8.95629 13.7677 9.17508L14.825 10.2323C15.0438 10.4511 15.1667 10.7479 15.1667 11.0573C15.1667 11.3667 15.0438 11.6635 14.825 11.8822L12.5489 14.1583C12.4406 14.2667 12.3119 14.3526 12.1704 14.4112C12.0288 14.4699 11.8771 14.5 11.7239 14.5H10.3333C10.1123 14.5 9.90036 14.4122 9.74408 14.256C9.5878 14.0997 9.5 13.8877 9.5 13.6667V12.2761C9.5 12.1229 9.53017 11.9712 9.5888 11.8297C9.64743 11.6881 9.73337 11.5595 9.8417 11.4511L12.1178 9.17508ZM12.9428 9.83337C12.8986 9.83337 12.8562 9.85093 12.8249 9.88219L10.5488 12.1582C10.5333 12.1737 10.5211 12.1921 10.5127 12.2123C10.5043 12.2325 10.5 12.2542 10.5 12.2761V13.5H11.7239C11.7458 13.5 11.7675 13.4957 11.7877 13.4873C11.8079 13.479 11.8263 13.4667 11.8418 13.4512L14.1179 11.1751C14.1491 11.1439 14.1667 11.1015 14.1667 11.0573C14.1667 11.0131 14.1491 10.9707 14.1179 10.9394L13.0606 9.88219C13.0294 9.85093 12.987 9.83337 12.9428 9.83337Z" fill="black"></path>
                    </svg>
                    <p>15 questions</p>
                  </div>
                  <div class="flex gap-x-2 items-center text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.14182 2.45731C4.53022 1.80997 5.4684 1.80997 5.8568 2.45731L7.97371 5.98548C8.37362 6.652 7.89351 7.49998 7.11621 7.49998H2.8824C2.10511 7.49998 1.625 6.652 2.02491 5.98548L4.14182 2.45731ZM7.11621 6.49998L4.99931 2.9718L2.8824 6.49998L7.11621 6.49998ZM9.49951 6.5C9.49951 5.94772 9.94723 5.5 10.4995 5.5H13.4995C14.0518 5.5 14.4995 5.94772 14.4995 6.5V9.5C14.4995 10.0523 14.0518 10.5 13.4995 10.5H10.4995C9.94723 10.5 9.49951 10.0523 9.49951 9.5V6.5ZM13.4995 6.5H10.4995V9.5H13.4995V6.5ZM3.49951 11.5C3.49951 10.3954 4.39494 9.5 5.49951 9.5C6.60408 9.5 7.49951 10.3954 7.49951 11.5C7.49951 12.6046 6.60408 13.5 5.49951 13.5C4.39494 13.5 3.49951 12.6046 3.49951 11.5ZM5.49951 8.5C3.84266 8.5 2.49951 9.84315 2.49951 11.5C2.49951 13.1569 3.84266 14.5 5.49951 14.5C7.15637 14.5 8.49951 13.1569 8.49951 11.5C8.49951 9.84315 7.15637 8.5 5.49951 8.5Z" fill="black"></path>
                    </svg>
                    <p>Multiple choice</p>
                  </div>
                </div>

                <div class="mt-7 flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center flex-wrap gap-4">
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Preview</button>
                    <button type="button" class="ring-1 rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">Details</button>
                  </div>

                  <button type="button" class="rounded-full py-2 px-6 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gray-900 text-white hover:text-slate-100 hover:bg-gray-700">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed bottom-0 w-full">
     <div class="px-6 py-4 border-t border-zinc-200 flex justify-end bg-gray-50">
       <button type="button" class="inline-flex gap-x-2.5 items-center rounded-full bg-blue-600 px-5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          <span>Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
       </button>
     </div>
  </div>
</main>
