<%= render "customer/shared/header" %>

<!-- Page heading -->
<div class="bg-white border-b border-zinc-200 py-4">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex gap-x-4 items-center justify-between">
      <div class="min-w-0 flex-1 flex items-center gap-x-2">
        <a href="/customer/assessments" class="text-gray-900 p-2.5 mr-4 sm:mr-8 border border-gray-900 rounded-full hover:bg-zinc-100 hover:shadow-sm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </a>

        <div>
          <div class="flex items-center gap-x-2.5">
            <h2 class="truncate text-xl font-bold leading-7 text-slate-900">Business Manager</h2>
            <button onclick="my_modal_1.showModal()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
            </button>
            <%= render partial: "rename_assessment", locals: {id: 1} %>
          </div>

          <div class="mt-1 flex gap-x-6 items-center">
            <div class="flex gap-x-2 items-center text-gray-600">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5C3.17157 1.5 2.5 2.17157 2.5 3V11C2.5 11.8284 3.17157 12.5 4 12.5H4.5V13C4.5 13.8284 5.17157 14.5 6 14.5H12C12.8284 14.5 13.5 13.8284 13.5 13V5C13.5 4.17157 12.8284 3.5 12 3.5H11.5V3C11.5 2.17157 10.8284 1.5 10 1.5H4ZM11.5 4.5V11C11.5 11.8284 10.8284 12.5 10 12.5H5.5V13C5.5 13.2761 5.72386 13.5 6 13.5H12C12.2761 13.5 12.5 13.2761 12.5 13V5C12.5 4.72386 12.2761 4.5 12 4.5H11.5ZM3.5 3C3.5 2.72386 3.72386 2.5 4 2.5H10C10.2761 2.5 10.5 2.72386 10.5 3V11C10.5 11.2761 10.2761 11.5 10 11.5H4C3.72386 11.5 3.5 11.2761 3.5 11V3ZM6.5 5.5H5V4.5H9V5.5H7.5V9H6.5V5.5Z" fill="currentColor"></path>
                </svg>
              <p class="font-medium text-sm">1 test</p>
            </div>

            <div class="flex gap-x-2 items-center text-gray-600">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
              </svg>
              <p class="font-medium text-sm">25 mins</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex gap-x-3">
        <div class="relative dropdown">
          <button tabindex="0" type="button" class="rounded-full bg-zinc-100 p-2 text-gray-600 shadow-sm hover:bg-zinc-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
            </svg>
          </button>

          <div tabindex="0" class="dropdown-content absolute right-0 z-10 -mr-1 mt-2 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div class="py-1" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a href="#" class="sm:hidden group flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">
                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Try yourself
              </a>
              <a href="#" class="sm:hidden group flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">
                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
                Invite
              </a>

              <a href="#" class="group flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">
                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                  <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                </svg>
                Edit
              </a>
              <a href="#" class="group flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">
                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path d="M2 3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2Z" />
                  <path fill-rule="evenodd" d="M2 7.5h16l-.811 7.71a2 2 0 0 1-1.99 1.79H4.802a2 2 0 0 1-1.99-1.79L2 7.5ZM7 11a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Z" clip-rule="evenodd" />
                </svg>
                Archive
              </a>
            </div>
          </div>
        </div>

        <div class="relative dropdown dropdown-hover hidden sm:block">
          <button tabindex="1" type="button" class="rounded-full bg-zinc-100 p-2 text-gray-600 shadow-sm hover:bg-zinc-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </button>

          <div tabindex="1" class="dropdown-content absolute -right-6 z-10 -mr-1 mt-2 origin-top-right">
            <div class="triangle triangle-t triangle-h-2 triangle-w-4 mx-auto -mb-0.5 text-gray-900"></div>
            <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 whitespace-nowrap bg-gray-900 text-sm text-white font-medium">Try yourself</div>
          </div>
        </div>

        <a href="#" class="hidden sm:inline-flex items-center gap-x-1.5 rounded-full bg-blue-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
          Invite
        </a>
      </div>
    </div>
  </div>
</div>

<main class="bg-zinc-50 h-full pb-16 pt-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="border border-gray-200 bg-white rounded-xl">
      <div class="p-5 flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
        <h2 class="text-base font-bold text-black">Candidates</h2>

        <div class="flex flex-row gap-x-3 sm:gap-x-5">
          <div class="relative rounded-md-sm w-full max-w-sm">
            <input type="text" name="account-number" id="account-number" class="block w-full rounded-full border-0 py-2 pl-4 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" placeholder="Search candidates">
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </div>
          </div>

          <div class="relative rounded-md-sm w-60">
            <select id="location" name="location" class="block w-full rounded-full border-0 py-2 pl-4 pr-10 text-gray-400 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6">
              <option value="" disabled selected>Status</option>
              <option class="text-gray-900">Invited</option>
              <option class="text-gray-900">Started</option>
              <option class="text-gray-900">Completed</option>
            </select>
          </div>
        </div>
      </div>

      <div class="flow-root">
        <div class="inline-block min-w-full align-middle">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="border-t border-gray-200">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Avg. % score</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800 hidden md:table-cell">Invited on</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800 hidden md:table-cell">Overall rating</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr class="hover:bg-blue-50 cursor-pointer" data-controller="clickable-row" data-url="/customer/assessments/1/candidates/1">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 truncate">Shan Puri</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                  </svg>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">Started</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell">Jun 14, 2024</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell">
                  <div class="flex items-center">
                    <!-- Active: "text-yellow-400", Inactive: "text-gray-200" -->
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </td>
                <td class="relative whitespac-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                  <button type="button" class="text-gray-800">
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </td>
              </tr>
              
              <tr class="hover:bg-blue-50 cursor-pointer" data-controller="clickable-row" data-url="/customer/assessments/1/candidates/1">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 truncate">Sam Parr</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">85%</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">Completed</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell">Jun 17, 2024</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell">
                  <div class="flex items-center">
                    <!-- Active: "text-yellow-400", Inactive: "text-gray-200" -->
                    <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </td>
                <td class="relative whitespac-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                  <button type="button" class="text-gray-800">
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Pagination -->
      <nav class="pb-5 px-5 border-t border-gray-200 flex items-center justify-between" aria-label="Pagination">
        <div class="-mt-px flex w-0 flex-1">
          <a href="#" class="inline-flex items-center pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
            <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z" clip-rule="evenodd" />
            </svg>
            Previous
          </a>
        </div>
        <div class="hidden md:-mt-px md:flex">
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">1</a>
          <!-- Current: "text-blue-600", Default: "text-gray-500 hover:text-gray-700" -->
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-blue-600" aria-current="page">2</a>
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">3</a>
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">4</a>
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">5</a>
          <a href="#" class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">6</a>
        </div>
        <div class="-mt-px flex w-0 flex-1 justify-end">
          <a href="#" class="inline-flex items-center pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
            Next
            <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </nav>
    </div>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6">
      <div class="border border-gray-200 bg-white rounded-xl h-fit">
        <div class="p-5">
          <h2 class="text-base font-bold text-black">Included tests</h2>
        </div>

        <div class="flow-root">
          <div class="overflow-x-auto">
            <div class="overflow-hidden inline-block min-w-full align-middle">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="border-t border-gray-200">
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Test</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Duration</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 truncate">Problem Solving</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                      <div class="flex gap-x-1.5 items-center font-medium text-gray-800">
                        <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                        </svg>
                        <p class="text-sm font-semibold">5 mins</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 truncate">Communication</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                      <div class="flex gap-x-1.5 items-center font-medium text-gray-800">
                        <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                        </svg>
                        <p class="text-sm font-semibold">8 mins</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-gray-200 bg-white rounded-xl h-fit">
        <div class="p-5">
          <h2 class="text-base font-bold text-black">Custom questions</h2>
        </div>

        <div class="flow-root">
          <div class="inline-block min-w-full align-middle">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="border-t border-gray-200">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Question</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800 hidden sm:table-cell">Type</th>
                  <th scope="col" class="py-3.5 pl-3 pr-4 sm:pr-6 text-left text-sm font-bold text-gray-800">Duration</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">
                    <div class="relative dropdown dropdown-hover">
                      <button tabindex="0" type="button" class="text-left">Tell us about yourself, what attracts you to this opportunity, and why you are a great candidate for this role. Pro tip: it might be helpful to pretend...</button>
                      <div tabindex="1" class="dropdown-content absolute w-full z-10 origin-top-right">
                        <div class="mx-auto w-64 md:w-72">
                          <div class="triangle triangle-t triangle-h-3 triangle-w-6 mx-auto -mb-0.5 text-gray-900"></div>
                          <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 bg-gray-900 text-sm text-white font-medium">Tell us about yourself, what attracts you to this opportunity, and why you are a great candidate for this role. Pro tip: it might be helpful to pretend you are writing this to a new friend and just be yourself. We want to get to know you better.</div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden sm:table-cell">Essay</td>
                  <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800">
                    <div class="flex gap-x-2 items-center text-gray-900">
                      <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                      </svg>
                      <p class="text-sm font-semibold">5 mins</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">
                    <div class="relative dropdown dropdown-hover">
                      <button tabindex="0" type="button" class="text-left">Describe a time when you identified a personal weakness at work and took steps to improve it. In your response, consider discussing the following: What...</button>
                      <div tabindex="0" class="dropdown-content absolute w-full z-10 origin-top-right">
                        <div class="mx-auto w-64 md:w-72">
                          <div class="triangle triangle-t triangle-h-3 triangle-w-6 mx-auto -mb-0.5 text-gray-900"></div>
                          <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 bg-gray-900 text-sm text-white font-medium">Describe a time when you identified a personal weakness at work and took steps to improve it. In your response, consider discussing the following: What was the personal weakness you identified? How did you identify this weakness? What steps did you take to address the weakness? What were the results of your efforts Pro tips: You likely have many examples you can draw from! Choose an example that...</div>
                        </div>
                      </div>     
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden sm:table-cell">Essay</td>
                  <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800">
                    <div class="flex gap-x-2 items-center text-gray-900">
                      <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 2C6.16667 1.72386 6.39052 1.5 6.66667 1.5H9.33333C9.60948 1.5 9.83333 1.72386 9.83333 2C9.83333 2.27614 9.60948 2.5 9.33333 2.5H6.66667C6.39052 2.5 6.16667 2.27614 6.16667 2ZM8.00076 4.5C10.4857 4.50041 12.5 6.51497 12.5 9C12.5 11.4853 10.4853 13.5 8 13.5C5.51472 13.5 3.5 11.4853 3.5 9C3.5 6.51472 5.51472 4.5 8 4.5L8.00076 4.5ZM8 3.5C4.96243 3.5 2.5 5.96243 2.5 9C2.5 12.0376 4.96243 14.5 8 14.5C11.0376 14.5 13.5 12.0376 13.5 9C13.5 5.96243 11.0376 3.5 8 3.5ZM7.77806 4C7.78699 3.71301 8 3.5 8 3.5C7.82635 3.67365 7.77332 3.8473 7.77806 4ZM8.5 6C8.5 5.72386 8.27614 5.5 8 5.5C7.72386 5.5 7.5 5.72386 7.5 6V8.66667C7.5 8.94281 7.72386 9.16667 8 9.16667C8.27614 9.16667 8.5 8.94281 8.5 8.66667V6ZM13.0202 3.64645C12.825 3.45118 12.5084 3.45118 12.3131 3.64645C12.1179 3.84171 12.1179 4.15829 12.3131 4.35355L12.9798 5.02022C13.175 5.21548 13.4916 5.21548 13.6869 5.02022C13.8821 4.82496 13.8821 4.50838 13.6869 4.31311L13.0202 3.64645Z" fill="currentColor"></path>
                      </svg>
                      <p class="text-sm font-semibold">5 mins</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>