<header class="border-b border-gray-300">
  <div class="bg-white py-5 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex justify-center md:justify-start">
    <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Milk Road</h1>
  </div>
</header>

<main class="bg-zinc-50 h-full pt-10">
  <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 pb-16">
    <div class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
      <h1 class="font-extrabold leading-7 text-gray-800 text-2xl pb-2 border-b-2 border-gray-900">You have now finished the first test</h1>
      <p class="mt-5 text-gray-800 space-y-3 font-medium">Help us improve this test by providing anonymous feedback. Your answer will only be available to Proctor, not your assesser.</p>

      <p class="mt-4 text-gray-800 space-y-3 font-medium">In your opinion, did the test accurately measure your skills in <strong>Problem Solving?</strong></p>

      <form class="mt-4">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-5 gap-y-4">
          <div class="flex items-center border border-gray-400 rounded-lg p-3">
            <input id="option-1" name="selected-option-3" type="radio" class="size-4 border-gray-800 text-blue-600 focus:ring-blue-600">
            <label for="option-1" class="ml-4 block text-sm font-semibold text-gray-800">Yes</label>
          </div>
          <div class="flex items-center border border-gray-400 rounded-lg p-3">
            <input id="option-2" name="selected-option-3" type="radio" class="size-4 border-gray-800 text-blue-600 focus:ring-blue-600">
            <label for="option-2" class="ml-4 block text-sm font-semibold text-gray-800">Somewhat</label>
          </div>
          <div class="flex items-center border border-gray-400 rounded-lg p-3">
            <input id="option-3" name="selected-option-3" type="radio" class="size-4 border-gray-800 text-blue-600 focus:ring-blue-600">
            <label for="option-3" class="ml-4 block text-sm font-semibold text-gray-800">No</label>
          </div>
        </div>

        <textarea placeholder="Please tell us more about your answer..." rows="4" class="mt-8 sm:mt-5 block w-full rounded-lg border-0 py-2.5 px-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 font-medium focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"></textarea>
      </form>

      <div class="mt-12 flex justify-end">
        <a href="/talent_assessment/checkout" class="inline-flex gap-x-2.5 items-center rounded-full bg-blue-600 px-7 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          <span>Finish</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>
