<div data-controller="monitoring"
     data-monitoring-fullscreen-value="true"
     data-monitoring-webcam-value="true"
     data-monitoring-device-value="true"
     data-monitoring-location-value="true"
     data-monitoring-ip-value="true"
     data-monitoring-periodic-webcam-capture-value="true"
     data-monitoring-track-fullscreen-value="true"
     data-monitoring-track-mouse-value="true"
     data-monitoring-assessment-participation-id-value="<%= @assessment_participation.id %>">
  <%= render(question_form_component) %>    
</div>
