<div class="bg-white border-b border-zinc-200 py-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex gap-x-4 items-center justify-between">
      <div class="min-w-0 flex-1 flex items-center gap-x-2">
        <a href="/candidate/assessments" class="text-gray-900 p-2.5 mr-4 sm:mr-8 border border-gray-900 rounded-full hover:bg-zinc-100 hover:shadow-sm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </a>

        <div>
          <div class="flex items-center">
            <h2 class="truncate text-xl font-bold leading-7 text-slate-900">Business Manager</h2>
            <p class="ml-3 whitespace-nowrap rounded-full bg-lime-200 px-2 text-xs font-semibold leading-6 text-lime-900">Completed</p>
          </div>

          <div class="mt-4 flex flex-col md:flex-row gap-y-3 md:gap-y-0 md:gap-x-8">
            <div class="flex gap-x-1 items-center col-span-2">
              <dt class="text-sm font-medium text-gray-500">Company name:</dt>
              <dd class="text-sm font-medium text-gray-900">Milk Road</dd>
            </div>
            <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Invited on:</dt>
              <dd class="text-sm font-medium text-gray-900">10th June 2024</dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="bg-zinc-50 h-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16">
    <h2 class="font-bold leading-7 text-gray-800 text-xl">Tests</h2>
    <div class="mt-4 border border-gray-200 bg-white rounded-xl">
      <div class="flow-root">
        <div class="inline-block min-w-full align-middle">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Name</th>
                <th scope="col" class="py-3.5 pl-3 pr-4 sm:pr-6 text-left text-sm font-bold text-gray-800 hidden sm:table-cell">Time Taken</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right">Score</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr>
                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">Problem Solving</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800 hidden sm:table-cell">07:24 out of 09:00</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-bold text-gray-800 sm:pr-6">77%</td>
              </tr>
              <tr>
                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">Time Management</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800 hidden sm:table-cell">08:12 out of 09:00</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-bold text-gray-800 sm:pr-6">84%</td>
              </tr>
              <tr>
                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">Communication</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800 hidden sm:table-cell">06:57 out of 08:00</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-bold text-gray-800 sm:pr-6">89%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
