<main class="bg-zinc-50 h-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="py-8">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">My applications</h1>
    </div>

    <div class="pt-2 sm:pt-3 pb-16">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div>
          <a href="/candidate/assessments/1?status=invited" class="rounded-xl border border-gray-300 bg-white px-6 py-5 shadow-sm flex justify-between items-center">
            <div class="w-full">
              <div class="flex items-center">
                <h2 class="truncate text-lg font-medium leading-7 text-slate-900">Sales Manager</h2>
                <p class="ml-3 whitespace-nowrap rounded-full bg-blue-200 px-2 text-xs font-semibold leading-6 text-blue-900">Invited</p>
              </div>

              <div class="mt-6 grid grid-cols-2 gap-4">
                <div class="flex gap-x-1 items-center col-span-2">
                  <dt class="text-sm font-medium text-gray-500">Company name:</dt>
                  <dd class="text-sm font-medium text-gray-900">Square Shape</dd>
                </div>
                <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Invited on:</dt>
                  <dd class="text-sm font-medium text-gray-900">25th June 2024</dd>
                </div>
                <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Last activity:</dt>
                  <dd class="text-sm font-medium text-gray-900">today</dd>
                </div>
              </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        </div>

        <!-- More applications... --><div>
          <a href="/candidate/assessments/1?status=completed" class="rounded-xl border border-gray-300 bg-white px-6 py-5 shadow-sm flex justify-between items-center">
            <div class="w-full">
              <div class="flex items-center">
                <h2 class="truncate text-lg font-medium leading-7 text-slate-900">Business Manager</h2>
                <p class="ml-3 whitespace-nowrap rounded-full bg-lime-200 px-2 text-xs font-semibold leading-6 text-lime-900">Completed</p>
              </div>

              <div class="mt-6 grid grid-cols-2 gap-4">
                <div class="flex gap-x-1 items-center col-span-2">
                  <dt class="text-sm font-medium text-gray-500">Company name:</dt>
                  <dd class="text-sm font-medium text-gray-900">Milk Road</dd>
                </div>
                <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Invited on:</dt>
                  <dd class="text-sm font-medium text-gray-900">10th June 2024</dd>
                </div>
                <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Last activity:</dt>
                  <dd class="text-sm font-medium text-gray-900">15 days ago</dd>
                </div>
              </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
