<div class="relative flex min-h-full shrink-0 justify-center md:px-12 lg:px-0">
  <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 shadow-2xl sm:justify-center md:flex-none md:px-28">
    <main class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <div><a aria-label="Home" href="/"><%= svg_tag "proctor", class: "h-12 w-auto" %></a>
      <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
      <form action="#" class="mt-10 grid grid-cols-1 gap-y-8">
        <div><label for=":S1:" class="mb-3 block text-sm font-medium text-gray-700">Email address</label><input id=":S1:" autocomplete="email" required="" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm" type="email" name="email"></div>
        <div><label for=":S2:" class="mb-3 block text-sm font-medium text-gray-700">Password</label><input id=":S2:" autocomplete="current-password" required="" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm" type="password" name="password"></div>
        <div>
          <a href="/customer/assessments" class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600 w-full" type="submit" variant="solid" color="blue">
            <span>Sign in <span aria-hidden="true">→</span></span>
          </a>
        </div>
      </form>

      <div class="mt-8">
        <p class="text-xs text-gray-500 font-medium">Don’t have an account? <a class="font-medium text-blue-600 underline" href="/register/customer">Create one</a></p>
        <p class="mt-2.5 text-xs text-gray-500 font-medium">Are you a candidate? <a class="font-medium text-blue-600 underline" href="/register/candidate">Sign up as a candidate</a></p>
      </div>
    </main>
  </div>
  <div class="hidden sm:contents lg:relative lg:block lg:flex-1">
    <%= image_tag "features-bg.jpg", width: "1664", height: "1866", loading: "lazy", decoding: "async", class: "absolute inset-0 h-full w-full object-cover", style: "color:transparent" %>
  </div>
</div>
