/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery>action-text-attachment,
.trix-content .attachment-gallery>.attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2>action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2>.attachment,
.trix-content .attachment-gallery.attachment-gallery--4>action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4>.attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.trix-content ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.trix-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start !important;
  border: none !important;
  margin-bottom: 0.5em;
  overflow: hidden !important; /* Hide scroll bar by default */
}

.trix-button-row:hover {
  overflow: auto !important; /* Show scroll bar on hover */
}
.trix-button-group {
  border: none !important;
  margin: 0 !important;
  padding: .5em 0 !important;
}
.trix-button {
  border: none !important;
  height: 1.3em !important;
}
.trix-button-row {
  border: 1px solid black !important;
  margin: 0 !important;
}
trix-editor {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
  margin: 0 !important;
  font-weight: 500 !important;
}
