@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-label {
    @apply block text-sm font-medium leading-6 text-gray-700;
  }

  .primary-field {
    @apply mt-1 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6;
  }

  .primary-form-submit {
    @apply cursor-pointer rounded-full bg-blue-600 px-6 py-2 text-base font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
  }
}