<!-- Page heading -->
<%= render ParticipantHeaderComponent.new(participant: @candidate, back_path: customer_candidates_path) %>

<main class="bg-zinc-50 pt-10 pb-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-10">
    <% @candidate.assessment_participations.each do |assessment_participation| %>
      <%= render(AssessmentScoreCardComponent.new(assessment_participation:)) %>
    <% end %>
  </div>
</main>
