<!-- Info section -->
<table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="r3-o" style="background-color: #ffffff; table-layout: fixed; width: 100%;">
  <tbody>
    <tr>
      <th width="100%" valign="top" class="r5-c" style="font-weight: normal;">
        <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o" style="table-layout: fixed; width: 100%;">
          <tbody>
            <tr>
              <td valign="top" class="r14-i" style="padding-left: 40px; padding-right: 40px; padding-top: 30px;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                  <tbody>
                    <tr>
                      <td class="r15-c nl2go-default-textstyle" align="left" style="color: #3b3f44; font-family: Arial; font-size: 15px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                        <div>
                          <h2 class="default-heading2" style="margin: 0; color: #1f2d3d; font-family: Poppins,arial; font-size: 32px; word-break: break-word; line-height: 34px"><span style="color: #242424; font-family: Arial, helvetica, sans-serif; font-size: 27px;">Hello <%= @email %>!</span></h2>
                          <p style="margin: 0;">&nbsp;</p>
                          <p style="margin: 0;">
                            <span style="color: #242424; font-family: Arial, helvetica, sans-serif;">
                              <strong>
                                <% if @resource.try(:unconfirmed_email?) %>
                                  We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.
                                <% else %>
                                  We're contacting you to notify you that your email has been changed to <%= @resource.email %>.
                                <% end %>
                              </strong>
                            </span>
                          </p>
                          <p style="margin: 0;">&nbsp;</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </th>
    </tr>
  </tbody>
</table>
